.carousel-container {
  position: relative;
  text-align: center;
  margin: 20px auto;
  width: 300px;
  /* background-color: yellow; */
  padding: 5px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
  /* background-color: aqua; */
}

.control-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

img {
  width: 200px;
  height: 150px;
}

.container-general{
  display: flex;
  /* background-color: orange; */
}